In [1]:
import pandas as pd

In [47]:
df=pd.read_csv("C:\\Users\\hp\\Desktop\\dataset\\no 11.txt",header=None,names=['A',"B",'C'])

In [48]:
df.head()

   A   B   C
0  a  12  78
1  b   3   3
2  c   5   7
3  d   2   2
4  e   1   9

In [49]:
import numpy as np

In [50]:
df

   A   B   C
0  a  12  78
1  b   3   3
2  c   5   7
3  d   2   2
4  e   1   9
5  f   8   8

In [51]:
df['D']=pd.Series(0,index=df.index)

In [52]:
df

   A   B   C  D
0  a  12  78  0
1  b   3   3  0
2  c   5   7  0
3  d   2   2  0
4  e   1   9  0
5  f   8   8  0

In [53]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [55]:
for i in df['C']:
    print (i)

78
3
7
2
9
8

In [56]:
for n,(i,k) in enumerate(zip(df['B'],df['C'])):
    if i==k:
        df.loc[n,['D']]=i
        #print(n,i,k)

1 3 3
3 2 2
5 8 8

In [57]:
df

   A   B   C  D
0  a  12  78  0
1  b   3   3  3
2  c   5   7  0
3  d   2   2  2
4  e   1   9  0
5  f   8   8  8

In [10]:
a=[12,3,5,6,7]
b=[6,7,8,9,0]
for i,(k,n) in enumerate(zip(a,b)):
    print(i,k,n)

0 12 6
1 3 7
2 5 8
3 6 9
4 7 0