In [ ]:
#GroupBy and Aggregate function

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('basic').getOrCreate()

In [ ]:
#df=spark.read.csv('data.csv',header='true',inferSchema='true')

In [ ]:
df.count(),len(df.columns)

In [ ]:
df.groupby('country').max().show()

In [ ]:
df.groupby('country').count().show()#show the vale

In [ ]:
df.groupBy('Country').count().show()

In [ ]:
d=df.groupby('country')

In [ ]:
d.agg({'Age':'max','Salary':'mean'}).show()

In [ ]:
df.orderBy('Age',ascending=False).select(['Age','Salary']).show()
#df.sort(df.Age.desc()).show()
#df.sort(df.Age.asc()).show()
#df.sort('Age',ascending=False).show()
#df.orderBy(['Age'],ascending=False).show()

In [ ]:

df.drop('Age').show()

In [ ]:
df.na.drop().show()
#df.na.drop(subset=['Age']).show()

In [ ]:
df.na.drop(subset=['Salary']).show()

In [ ]:
df.na.drop(subset=['mean']).show()

In [ ]:
#df.na.fill(9,subset=['Age']).show()
#df.na.fill(0).show()
df.na.fill({"Age":4,"Salary":20}).show()

In [ ]:
#df.na.df.describe().show()#multiple  null value count
df.na.df.agg({"Age",:"count","Salary":'count'}).show()
#df.count()#row count

In [ ]:
df.na.df.describe().show()

In [ ]:
from pyspark.sql.functions import mean

In [ ]:
df.select(mean(df['Age'])).show

In [ ]:
mean_val=df.select(mean(df['Age'])).collect()

In [ ]:
mean_val

In [ ]:
mean_val[0].asDict()['avg(Age)']

In [ ]:
mean_val[0][0]

In [ ]:
mean_age=mean_val[0][0]
mean_age

In [ ]:
df.na.fill(mean_age,subset=['Age'])