In [1]:
from pyspark.sql import SparkSession
#spark= SparkSession.builder.appName('hello').getOrCreate()

In [2]:
spark= SparkSession.builder.appName('bas').getOrCreate()

In [4]:
df=spark.read.csv("C:\\Users\\hp\\Desktop\\dataset\\Data1.csv",header='true',inferSchema='true')

In [5]:
df.show(2)

+-------+---+-------+---------+-------+
|Country|Age|Salary2|Purchased|Salary4|
+-------+---+-------+---------+-------+
| France| 44|  72000|       No|  72000|
|  Spain| 27|  48000|      Yes|  48000|
+-------+---+-------+---------+-------+
only showing top 2 rows

In [6]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary2: integer (nullable = true)
 |-- Purchased: string (nullable = true)
 |-- Salary4: integer (nullable = true)

In [7]:
df.dtypes

[('Country', 'string'),
 ('Age', 'int'),
 ('Salary2', 'int'),
 ('Purchased', 'string'),
 ('Salary4', 'int')]

In [8]:
df.columns

['Country', 'Age', 'Salary2', 'Purchased', 'Salary4']

In [9]:
df.describe().show()

+-------+-------+-----------------+------------------+---------+------------------+
|summary|Country|              Age|           Salary2|Purchased|           Salary4|
+-------+-------+-----------------+------------------+---------+------------------+
|  count|     10|                9|                 9|       10|                 8|
|   mean|   null|38.77777777777778| 63777.77777777778|     null|           63375.0|
| stddev|   null|7.693792591722529|12265.579661982732|     null|13048.672619958596|
|    min| France|               27|             48000|       No|             48000|
|    max|  Spain|               50|             83000|      Yes|             83000|
+-------+-------+-----------------+------------------+---------+------------------+

In [10]:
df.select("Age").show()

+----+
| Age|
+----+
|  44|
|  27|
|  30|
|  38|
|  40|
|  35|
|null|
|  48|
|  50|
|  37|
+----+

In [11]:
type(df['Age'])

pyspark.sql.column.Column

In [12]:
type(df.select('Age'))

pyspark.sql.dataframe.DataFrame

In [20]:
#df=(df.toPandas())

In [18]:
#df.toPandas()

In [21]:
#d=df.select('Age')

In [22]:
#d.show(3)

In [23]:
#df.collect()#row define

In [ ]:
df.collect()[1].asDict()

In [ ]:
f=df.collect()[0]

In [ ]:
f.asDict()

In [ ]:
r=df.collect()[0]

In [ ]:
r.asDict()

In [ ]:
r=df.collect()[:5]

In [ ]:
for i in r:
    print(i.asDict())

In [ ]:
r.count(44)

In [ ]:
for i in r:
    p=i.asDict()
    if i.count('Spain')>0:
        print(p)

In [ ]:
df[df['country']=='Spain'].show()

In [ ]:
f=df.collect()[0]
f.asDict()

In [ ]:
df.select(['Age',"Salary"]).show()

In [ ]:
df=df.withColumnRename("Age","new_age")
df.show(2)

In [ ]:
#create or replace local temporary view with this Dataframe
df.createOrReplaceTempView('shop')

In [ ]:
result=spark.sql('select * from shop')
result.show()

In [ ]:
result =spark.sql('select * from shop where Salary >60000')
result.show()

In [ ]:
result =spark.sql('select * from shop where Salary >60000').select(['Country','Salary'])
result.show()

In [ ]:
df_new_

In [ ]:
df.filter('Salary>60000').show()
#df[df.Salary>60000].show()

In [ ]:
df.filter('Salary>60000').select(['Country','Salary']).show()

In [ ]:
df.filter(df['new_age']>30) & (df['Salary']>60000).show()

In [ ]:
df.filter(df['new_age']>30) & ~(df['Salary']>50000).show()

In [ ]:
df.toPandas()

In [ ]:
df.toPandas().head()

In [ ]:
df.toPandas().shape

In [ ]:
df.count(),len(df.columns)